### Creating Spark Session

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('read-csv').getOrCreate()

In [ ]:
spark.getActiveSession()

### Create DF using the data from csv file

In [ ]:
# Method 1 : Using spark.read.csv()

file_path = 'sample_data/customers-100.csv'
df = spark.read.csv(file_path)

df.show(2)
df.printSchema()

+-----+---------------+----------+---------+---------------+------------+-------+------------+----------------+--------------------+-----------------+--------------------+
|  _c0|            _c1|       _c2|      _c3|            _c4|         _c5|    _c6|         _c7|             _c8|                 _c9|             _c10|                _c11|
+-----+---------------+----------+---------+---------------+------------+-------+------------+----------------+--------------------+-----------------+--------------------+
|Index|    Customer Id|First Name|Last Name|        Company|        City|Country|     Phone 1|         Phone 2|               Email|Subscription Date|             Website|
|    1|DD37Cf93aecA6Dc|    Sheryl|   Baxter|Rasmussen Group|East Leonard|  Chile|229.077.5154|397.884.0519x718|zunigavanessa@smi...|       2020-08-24|http://www.stephe...|
+-----+---------------+----------+---------+---------------+------------+-------+------------+----------------+--------------------+-----------------+--------------------+
only showing top 2 rows

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)

In [ ]:
# Method 2 : spark.read.format().load()

df = spark.read.format('csv').load(file_path)
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)

In [ ]:
df = spark.read.csv(file_path,header=True)
df.show()

+-----+---------------+----------+---------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|Index|    Customer Id|First Name|Last Name|             Company|             City|             Country|             Phone 1|             Phone 2|               Email|Subscription Date|             Website|
+-----+---------------+----------+---------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|    1|DD37Cf93aecA6Dc|    Sheryl|   Baxter|     Rasmussen Group|     East Leonard|               Chile|        229.077.5154|    397.884.0519x718|zunigavanessa@smi...|       2020-08-24|http://www.stephe...|
|    2|1Ef7b82A4CAAD10|   Preston|   Lozano|         Vega-Gentry|East Jimmychester|            Djibouti|          5153435776|    686-620-1820x944|     vmata@colon.com|       2021-04-23|http://www.hobbs....|
|    3|6F94879bDAfE5a6|       Roy|    Berry|       Murillo-Perry|    Isabelborough| Antigua and Barbuda|     +1-539-402-0259| (496)978-3969x58947| beckycarr@hogan.com|       2020-03-25|http://www.lawren...|
|    4|5Cef8BFA16c5e3c|     Linda|    Olsen|Dominguez, Mcmill...|       Bensonview|  Dominican Republic|001-808-617-6467x...|     +1-813-324-8756|stanleyblackwell@...|       2020-06-02|http://www.good-l...|
|    5|053d585Ab6b3159|    Joanna|   Bender|Martin, Lang and ...|   West Priscilla|Slovakia (Slovak ...|001-234-203-0635x...|001-199-446-3860x...|colinalvarado@mil...|       2021-04-17|https://goodwin-i...|
|    6|2d08FB17EE273F4|     Aimee|    Downs|        Steele Group|    Chavezborough|Bosnia and Herzeg...| (283)437-3886x88321|        999-728-1637| louis27@gilbert.com|       2020-02-25|http://www.berger...|
|    7|EA4d384DfDbBf77|    Darren|     Peck|Lester, Woodard a...|         Lake Ana|    Pitcairn Islands|  (496)452-6181x3291|+1-247-266-0963x4995| tgates@cantrell.com|       2021-08-24| https://www.le.com/|
|    8|0e04AFde9f225dE|     Brett|   Mullen|Sanford, Davenpor...|          Kimport|            Bulgaria|001-583-352-7197x297|    001-333-145-0369|     asnow@colon.com|       2021-04-12|https://hammond-r...|
|    9|C2dE4dEEc489ae0|    Sheryl|   Meyers|      Browning-Simon|     Robersonstad|              Cyprus|   854-138-4911x5772| +1-448-910-2276x729|mariokhan@ryan-po...|       2020-01-13|https://www.bullo...|
|   10|8C2811a503C7c5a|  Michelle|Gallagher|        Beck-Hendrix|       Elaineberg|         Timor-Leste|    739.218.2516x459|001-054-401-0347x617|   mdyer@escobar.net|       2021-11-08|  https://arias.com/|
|   11|216E205d6eBb815|      Carl|Schroeder|Oconnell, Meza an...|     Shannonville|            Guernsey|    637-854-0256x825|    114.336.0784x788|  kirksalas@webb.com|       2021-10-20|https://simmons-h...|
|   12|CEDec94deE6d69B|     Jenna|   Dodson|Hoffman, Reed and...|      East Andrea|             Vietnam|       (041)737-3846|+1-556-888-3485x4...|  mark42@robbins.com|       2020-11-29|http://www.dougla...|
|   13|e35426EbDEceaFF|    Tracey|     Mata|      Graham-Francis|South Joannamouth|                Togo|    001-949-844-8787|       (855)713-8773|    alex56@walls.org|       2021-12-02|http://www.beck.com/|
|   14|A08A8aF8BE9FaD4|  Kristine|      Cox|      Carpenter-Cook|         Jodyberg|           Sri Lanka|  786-284-3358x62152|+1-315-627-1796x8074|holdenmiranda@cla...|       2021-02-08|https://www.brand...|
|   15|6fEaA1b7cab7B6C|     Faith|     Lutz|      Carter-Hancock|        Burchbury|           Singapore|  (781)861-7180x8306|        207-185-3665|cassieparrish@ble...|       2022-01-26|http://stevenson....|
|   16|8cad0b4CBceaeec|   Miranda|  Beasley|  Singleton and Sons|     Desireeshire|                Oman|    540.085.3135x185|+1-600-462-6432x2...|vduncan@parks-har...|       2022-04-12|  http://acosta.org/|
|   17|a5DC21AE3a21eaA|  Caroline|    Foley|     Winters-Mendoza|West Adriennestad|      Western Sahara|   936.222.4746x9924|001-469-948-6341x359|holtgwendolyn@wat...|       2021-03-10|http://www.benson...|
|   18|F8Aa9d6DfcBeeF8|      Greg|     Mata|       Valentine LLC|      Lake Leslie|          Mozambique|       (701)087-2415| (195)156-1861x26241|jaredjuarez@carro...|       2022-03-26|http://pitts-cher...|
|   19|F160f5Db3EfE973|  Clifford| Jacobson|           Simon LLC|       Harmonview|South Georgia and...|001-151-330-3524x...|       (748)477-7174|joseph26@jacobson...|       2020-09-24|https://mcconnell...|
|   20|0F60FF3DdCd7aB0|    Joanna|     Kirk|      Mays-Mccormick|       Jamesshire|    French Polynesia|   (266)131-7001x711| (283)312-5579x11543|tuckerangie@salaz...|       2021-09-24|https://www.camac...|
+-----+---------------+----------+---------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
only showing top 20 rows

### List of params for 'Options' for csv

In [ ]:
# Different ways to define the options

# Method - 1
df = spark.read.option('header',True).option('inferschema',True).csv(file_path)
df.printSchema()

root
 |-- Index: integer (nullable = true)
 |-- Customer Id: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Phone 1: string (nullable = true)
 |-- Phone 2: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Subscription Date: date (nullable = true)
 |-- Website: string (nullable = true)

In [ ]:
# Method - 2
df = spark.read.csv(file_path,header=True, inferSchema=True)
df.printSchema()

root
 |-- Index: integer (nullable = true)
 |-- Customer Id: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Phone 1: string (nullable = true)
 |-- Phone 2: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Subscription Date: date (nullable = true)
 |-- Website: string (nullable = true)

In [ ]:
# Method - 3

options_dict = {
    'header':True,
    'inferSchema':True,
    'delimiter':',',           # we can also use 'sep'
    'encoding':'UTF-8',
   #  'timestampFormat':'YYYY-MM-DD' - Raise Error
    'timestampFormat':'yyyy-MM-dd',
    'quote':'"',                # default: "
    'escape':'\\',
    'multiline':True,
    'nullValue':'NA',

}

df = spark.read.options(**options_dict).csv(file_path)
df.show(2)
df.printSchema()

+-----+---------------+----------+---------+---------------+-----------------+--------+------------+----------------+--------------------+-----------------+--------------------+
|Index|    Customer Id|First Name|Last Name|        Company|             City| Country|     Phone 1|         Phone 2|               Email|Subscription Date|             Website|
+-----+---------------+----------+---------+---------------+-----------------+--------+------------+----------------+--------------------+-----------------+--------------------+
|    1|DD37Cf93aecA6Dc|    Sheryl|   Baxter|Rasmussen Group|     East Leonard|   Chile|229.077.5154|397.884.0519x718|zunigavanessa@smi...|       2020-08-24|http://www.stephe...|
|    2|1Ef7b82A4CAAD10|   Preston|   Lozano|    Vega-Gentry|East Jimmychester|Djibouti|  5153435776|686-620-1820x944|     vmata@colon.com|       2021-04-23|http://www.hobbs....|
+-----+---------------+----------+---------+---------------+-----------------+--------+------------+----------------+--------------------+-----------------+--------------------+
only showing top 2 rows

root
 |-- Index: integer (nullable = true)
 |-- Customer Id: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Phone 1: string (nullable = true)
 |-- Phone 2: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Subscription Date: date (nullable = true)
 |-- Website: string (nullable = true)

**Error Details:**
The error SparkUpgradeException: [INCONSISTENT_BEHAVIOR_CROSS_VERSION.DATETIME_PATTERN_RECOGNITION] ... is raised because the timestampFormat option in your options_dict is set to YYYY-MM-DD, which is not a valid datetime pattern recognized by Spark 3.0 and later. Spark's newer versions use a different parser for datetime strings, and the old pattern is no longer supported by default.

### Multiple csv files

In [ ]:
# Pass list of files seperated by comma
df = spark.read.csv('file_path_1','file_path_2')

In [ ]:
# Read all files from a directory

df = spark.read.csv("Folder path")

### Custom user defined schema using StructField and StructType

In [ ]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DateType


custom_schema = StructType([
    StructField('Index',IntegerType(),False),
StructField('Customer Id',StringType(),False),
    StructField('First Name',StringType(),False),
    StructField('Last Name',StringType(),False),
    StructField('Company',StringType(),False),
    StructField('City',StringType(),False),
    StructField('Country',StringType(),False),
    StructField('Phone 1',StringType(),False),
    StructField('Phone 2',StringType(),False),
    StructField('Email',StringType(),False),
    StructField('Sub Date',DateType(),False),
    StructField('Website',StringType(),False),
])

# df = spark.read.csv(file_path,schema=custom_schema)

df = spark.read.format('csv').schema(custom_schema).load(file_path) # schema should be defined before loading the csv
df.printSchema()

root
 |-- Index: integer (nullable = true)
 |-- Customer Id: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Phone 1: string (nullable = true)
 |-- Phone 2: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Sub Date: date (nullable = true)
 |-- Website: string (nullable = true)

### Writing Data to CSV file

In [ ]:
# Write to csv file
save_csv_path = 'sample_data/sample_output.csv'

df.write.csv(save_csv_path, header=True)

### List of Params for 'option' - write to csv

#### list of modes

* overwrite – Overwrite the existing file if already exists.

* append – New rows are appended to the existing rows.

* ignore – When this option is used, it ignores the writing operation when the file already exists.

* error – This option returns an error when the file already exists. This is a default option.

In [ ]:
save_csv_path = 'sample_output_data'

options_dict = {
    'header':True,
    'delimiter':',',           # we can also use 'sep'
    'encoding':'UTF-8',
   #  'timestampFormat':'YYYY-MM-DD' - Raise Error
    'timestampFormat':'yyyy-MM-dd',
    'quote':'"',                # default: "
    'escape':'\\',
    'multiline':True,
    'nullValue':'NA',
    'mode':"overwrite",  # “overwrite”, “append”, “ignore”, and “error”
    # 'compression':'gzip'

}

df.write.mode('overwrite').format('csv').options(**options_dict).save(save_csv_path)